<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Short Link</title>
</head>
<body>
    <h1>Create Short Link</h1>
    <form action="/generate" method="POST">
        <label for="url">URL:</label>
        <input type="text" id="url" name="url" required>
        <br>
        <input type="submit" value="Generate Short Link">
    </form>
</body>
</html>
